{{- $fullname := promptStringOnce . "fullname" "Full Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $githubUsername := promptStringOnce . "githubUsername" "Github User Name" -}}

[data]
    fullname = {{ $fullname | quote }}
    email = {{ $email | quote }}
    githubUsername = {{ $githubUsername | quote }}
[edit]
    command = "code"
    args = ["--wait"]

encryption = "gpg"
[gpg]
    recipient = {{ $email | quote }}

    
