[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = {{ .fullname | quote }}
	email = {{ .email | quote }}
	username = {{ .githubUsername | quote }}
	signingkey = 0FBE93017A239D4C!
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[core]
  pager = less -F -X