[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = {{ .fullname | quote }}
	email = {{ .email | quote }}
	username = {{ .githubUsername | quote }}
[init]
	defaultBranch = main
[commit]
 	gpgsign = false
[gpg]
 	program = gpg2
[core]
  pager = less -F -X
