{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
### TAPS ###
tap "caarlos0/tap"
tap "dashlane/tap"
tap "homebrew/bundle"
tap "jorgelbg/tap"
tap "mongodb/brew"

### BREWS ###
brew "python@3.12"
brew "awscli"
brew "gettext"
brew "cairo"
brew "chezmoi"
brew "cmake"
brew "cmatrix"
brew "coreutils"
brew "curl"
brew "dos2unix"
brew "fnm"
brew "fzf"
brew "gh"
brew "giflib"
brew "git"
brew "gnupg"
brew "jpeg"
brew "pango"
brew "librsvg"
brew "mas"
brew "mongosh"
brew "mysql"
brew "mysql-client"
brew "ncurses"
brew "ninja"
brew "pinentry-mac"
brew "pkg-config"
brew "powerlevel10k"
brew "reattach-to-user-namespace"
brew "ripgrep"
brew "terminal-notifier"
brew "tmux"
brew "tpm"
brew "wget"
brew "caarlos0/tap/timer"
brew "dashlane/tap/dashlane-cli"
brew "jorgelbg/tap/pinentry-touchid"
brew "mongodb/brew/mongodb-database-tools"

### CASKS ###
cask "adobe-acrobat-reader"
cask "brave-browser"
cask "dbeaver-community"
cask "deluge"
cask "discord"
cask "figma"
cask "font-blex-mono-nerd-font"
cask "github"
cask "kitty"
cask "notion"
cask "obs"
cask "orbstack"
cask "raycast"
cask "slack"
cask "steam"
cask "visual-studio-code"
cask "vlc"
cask "warp"
cask "whatsapp"
cask "windows-app"

### Mas - Mac App Store command-line interface ###
mas "Hotspot Shield", id: 771076721
mas "LanScan", id: 472226235
mas "The Unarchiver", id: 425424353

### VsCode Plugins ###
vscode "antfu.goto-alias"
vscode "anweber.vscode-httpyac"
vscode "arcanis.vscode-zipfs"
vscode "aykutsarac.jsoncrack-vscode"
vscode "bierner.emojisense"
vscode "bierner.lit-html"
vscode "bradlc.vscode-tailwindcss"
vscode "catppuccin.catppuccin-vsc"
vscode "catppuccin.catppuccin-vsc-icons"
vscode "davidanson.vscode-markdownlint"
vscode "dbaeumer.vscode-eslint"
vscode "dsznajder.es7-react-js-snippets"
vscode "eamodio.gitlens"
vscode "editorconfig.editorconfig"
vscode "esbenp.prettier-vscode"
vscode "formulahendry.auto-close-tag"
vscode "formulahendry.auto-rename-tag"
vscode "github.vscode-github-actions"
vscode "github.vscode-pull-request-github"
vscode "grapecity.gc-excelviewer"
vscode "gruntfuggly.todo-tree"
vscode "htmlhint.vscode-htmlhint"
vscode "johnnymorganz.stylua"
vscode "keyring.lua"
vscode "mattpocock.ts-error-translator"
vscode "mechatroner.rainbow-csv"
vscode "mhutchie.git-graph"
vscode "mikestead.dotenv"
vscode "ms-azuretools.vscode-docker"
vscode "ms-playwright.playwright"
vscode "naumovs.color-highlight"
vscode "oderwat.indent-rainbow"
vscode "paulshen.paul-typescript-toolkit"
vscode "petermekhaeil.vscode-tailwindcss-explorer"
vscode "pkief.material-icon-theme"
vscode "quick-lint.quick-lint-js"
vscode "rubymaniac.vscode-paste-and-indent"
vscode "simonsiefke.svg-preview"
vscode "streetsidesoftware.code-spell-checker"
vscode "stylelint.vscode-stylelint"
vscode "sumneko.lua"
vscode "supermaven.supermaven"
vscode "tomoki1207.pdf"
vscode "unifiedjs.vscode-mdx"
vscode "visualstudioexptteam.intellicode-api-usage-examples"
vscode "visualstudioexptteam.vscodeintellicode"
vscode "vitest.explorer"
vscode "vivaxy.vscode-conventional-commits"
vscode "vscodevim.vim"
vscode "vue.volar"
vscode "wix.vscode-import-cost"
vscode "yoavbls.pretty-ts-errors"
vscode "zignd.html-css-class-completion"
EOF
{{ end -}}
