{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
### TAPS ###
tap "caarlos0/tap"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"

### BREWS ###
brew "chezmoi"
brew "cmatrix"
brew "docker"
brew "fnm"
brew "fzf"
brew "git"
brew "mas"
brew "ncurses"
brew "neofetch"
brew "powerlevel10k"
brew "reattach-to-user-namespace"
brew "ripgrep"
brew "terminal-notifier"
brew "tmux"
brew "caarlos0/tap/timer"

### CASKS ###
cask "adobe-acrobat-reader"
cask "brave-browser"
cask "deluge"
cask "docker"
cask "figma"
cask "font-blex-mono-nerd-font"
cask "github"
cask "kitty"
cask "microsoft-remote-desktop"
cask "notion"
cask "obs"
cask "raycast"
cask "slack"
cask "steam"
cask "visual-studio-code"
cask "vlc"
cask "warp"
cask "whatsapp"

### Mas - Mac App Store command-line interface ###
mas "Hotspot Shield", id: 771076721
mas "LanScan", id: 472226235
mas "The Unarchiver", id: 425424353

### VsCode Plugins ###
vscode "antfu.goto-alias"
vscode "anweber.vscode-httpyac"
vscode "arcanis.vscode-zipfs"
vscode "aykutsarac.jsoncrack-vscode"
vscode "bierner.emojisense"
vscode "bierner.lit-html"
vscode "bradlc.vscode-tailwindcss"
vscode "catppuccin.catppuccin-vsc"
vscode "catppuccin.catppuccin-vsc-icons"
vscode "davidanson.vscode-markdownlint"
vscode "dbaeumer.vscode-eslint"
vscode "donjayamanne.typescript-notebook"
vscode "dsznajder.es7-react-js-snippets"
vscode "editorconfig.editorconfig"
vscode "esbenp.prettier-vscode"
vscode "formulahendry.auto-close-tag"
vscode "formulahendry.auto-rename-tag"
vscode "github.vscode-pull-request-github"
vscode "grapecity.gc-excelviewer"
vscode "gruntfuggly.todo-tree"
vscode "hediet.vscode-drawio"
vscode "htmlhint.vscode-htmlhint"
vscode "johnnymorganz.stylua"
vscode "keyring.lua"
vscode "mattpocock.ts-error-translator"
vscode "mechatroner.rainbow-csv"
vscode "mhutchie.git-graph"
vscode "mikestead.dotenv"
vscode "ms-azuretools.vscode-docker"
vscode "ms-vsliveshare.vsliveshare"
vscode "naumovs.color-highlight"
vscode "oderwat.indent-rainbow"
vscode "petermekhaeil.vscode-tailwindcss-explorer"
vscode "pkief.material-icon-theme"
vscode "quick-lint.quick-lint-js"
vscode "ritwickdey.liveserver"
vscode "rubymaniac.vscode-paste-and-indent"
vscode "shd101wyy.markdown-preview-enhanced"
vscode "streetsidesoftware.code-spell-checker"
vscode "stylelint.vscode-stylelint"
vscode "sumneko.lua"
vscode "tomoki1207.pdf"
vscode "unifiedjs.vscode-mdx"
vscode "visualstudioexptteam.intellicode-api-usage-examples"
vscode "visualstudioexptteam.vscodeintellicode"
vscode "vivaxy.vscode-conventional-commits"
vscode "vscodevim.vim"
vscode "wix.vscode-import-cost"
vscode "yoavbls.pretty-ts-errors"
vscode "yzane.markdown-pdf"
vscode "yzhang.markdown-all-in-one"
vscode "zignd.html-css-class-completion"
EOF
{{ end -}}
